<h1>Admin</h1>
<p> This view is visible to users with the administrator role.</p>

<table class="table table-striped" data-ng-hide="loading">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="user in users">
      <td>{{ user.id }}</td>
      <td>
        <i class="fa fa-twitter" data-ng-show="user.provider == 'twitter'"></i>
        <i class="fa fa-facebook-square" data-ng-show="user.provider == 'facebook'"></i>
        <i class="fa fa-google-plus-square" data-ng-show="user.provider == 'google'"></i>
        <i class="fa fa-linkedin" data-ng-show="user.provider == 'linkedin'"></i>
        {{ user.username }}
      </td>
      <td>
        <span class="label" data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}'>{{ user.role.title }}</span>
      </td>
    </tr>
  </tbody>
</table>