<h1>Admin</h1>
<p> This view is visible to users with the administrator role.</p>

<table class="table table-striped" data-ng-hide="loading">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="user in users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>
        {{ user.email }}
      </td>
      <td>
        <span class="label" data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}'>{{ user.role.title }}</span>
      </td>
    </tr>
  </tbody>
</table>