<h1>Log in</h1>

<div class="col-sm-7">
  <form class="form-horizontal" data-ng-submit="login()" name="loginForm" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Email</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" data-ng-model="email" placeholder="Email" name="email" required="required" autofocus="autofocus">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password</label>
      <div class="col-sm-10">
        <input class="form-control" type="password" data-ng-model="password" placeholder="Password" name="password" required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label for="rememberme" class="checkbox">
            <input type="checkbox" data-ng-model="rememberme" name="rememberme"> Remember me
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" type="submit" data-ng-disabled="loginForm.$invalid">Log in</button>
      </div>
    </div>
  </form>
</div>
